=begin
#Linode API

#[Read the API documentation](https://techdocs.akamai.com/linode-api/reference/api).

The version of the OpenAPI document: 4.177.1
Contact: support@linode.com
Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module LinodeOpenapiClient
  class DatabasesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a managed MySQL database backup
    # __This operation is currently only available for customers who already have an active Managed Database.__  Delete a single backup for an accessible Managed MySQL Database.  Requires `read_write` access to the Database.  The Database must not be provisioning to perform this operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases mysql-backup-delete 123 456     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param backup_id [Integer] The ID of the Managed MySQL Database backup.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_database_mysql_instance_backup(api_version, instance_id, backup_id, opts = {})
      data, _status_code, _headers = delete_database_mysql_instance_backup_with_http_info(api_version, instance_id, backup_id, opts)
      data
    end

    # Delete a managed MySQL database backup
    # __This operation is currently only available for customers who already have an active Managed Database.__  Delete a single backup for an accessible Managed MySQL Database.  Requires &#x60;read_write&#x60; access to the Database.  The Database must not be provisioning to perform this operation.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases mysql-backup-delete 123 456     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param backup_id [Integer] The ID of the Managed MySQL Database backup.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_database_mysql_instance_backup_with_http_info(api_version, instance_id, backup_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.delete_database_mysql_instance_backup ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.delete_database_mysql_instance_backup"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.delete_database_mysql_instance_backup"
      end
      # verify the required parameter 'backup_id' is set
      if @api_client.config.client_side_validation && backup_id.nil?
        fail ArgumentError, "Missing the required parameter 'backup_id' when calling DatabasesApi.delete_database_mysql_instance_backup"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/mysql/instances/{instanceId}/backups/{backupId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s)).sub('{' + 'backupId' + '}', CGI.escape(backup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.delete_database_mysql_instance_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#delete_database_mysql_instance_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a managed PostgreSQL database backup
    # __This operation is currently only available for customers who already have an active Managed Database.__  Delete a single backup for an accessible Managed PostgreSQL Database.  Requires `read_write` access to the Database.  The Database must not be provisioning to perform this operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases postgresql-backup-delete 123 456     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param backup_id [Integer] The ID of the Managed PostgreSQL Database backup.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_database_postgre_sql_instance_backup(api_version, instance_id, backup_id, opts = {})
      data, _status_code, _headers = delete_database_postgre_sql_instance_backup_with_http_info(api_version, instance_id, backup_id, opts)
      data
    end

    # Delete a managed PostgreSQL database backup
    # __This operation is currently only available for customers who already have an active Managed Database.__  Delete a single backup for an accessible Managed PostgreSQL Database.  Requires &#x60;read_write&#x60; access to the Database.  The Database must not be provisioning to perform this operation.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases postgresql-backup-delete 123 456     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param backup_id [Integer] The ID of the Managed PostgreSQL Database backup.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_database_postgre_sql_instance_backup_with_http_info(api_version, instance_id, backup_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.delete_database_postgre_sql_instance_backup ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.delete_database_postgre_sql_instance_backup"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.delete_database_postgre_sql_instance_backup"
      end
      # verify the required parameter 'backup_id' is set
      if @api_client.config.client_side_validation && backup_id.nil?
        fail ArgumentError, "Missing the required parameter 'backup_id' when calling DatabasesApi.delete_database_postgre_sql_instance_backup"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/postgresql/instances/{instanceId}/backups/{backupId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s)).sub('{' + 'backupId' + '}', CGI.escape(backup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.delete_database_postgre_sql_instance_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#delete_database_postgre_sql_instance_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a managed MySQL database
    # __This operation is currently only available for customers who already have an active Managed Database.__  Remove a Managed MySQL Database from your Account.  Requires `read_write` access to the Database.  The Database must have an `active`, `failed`, or `degraded` status to perform this operation.  Only unrestricted Users can access this operation, and have access regardless of the acting token's OAuth scopes.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases mysql-delete 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_databases_mysql_instance(api_version, instance_id, opts = {})
      data, _status_code, _headers = delete_databases_mysql_instance_with_http_info(api_version, instance_id, opts)
      data
    end

    # Delete a managed MySQL database
    # __This operation is currently only available for customers who already have an active Managed Database.__  Remove a Managed MySQL Database from your Account.  Requires &#x60;read_write&#x60; access to the Database.  The Database must have an &#x60;active&#x60;, &#x60;failed&#x60;, or &#x60;degraded&#x60; status to perform this operation.  Only unrestricted Users can access this operation, and have access regardless of the acting token&#39;s OAuth scopes.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases mysql-delete 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_databases_mysql_instance_with_http_info(api_version, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.delete_databases_mysql_instance ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.delete_databases_mysql_instance"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.delete_databases_mysql_instance"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/mysql/instances/{instanceId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.delete_databases_mysql_instance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#delete_databases_mysql_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a managed PostgreSQL database
    # __This operation is currently only available for customers who already have an active Managed Database.__  Remove a Managed PostgreSQL Database from your Account.  Requires `read_write` access to the Database.  The Database must have an `active`, `failed`, or `degraded` status to perform this operation.  Only unrestricted Users can access this operation, and have access regardless of the acting token's OAuth scopes.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases postgresql-delete 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_databases_postgre_sql_instance(api_version, instance_id, opts = {})
      data, _status_code, _headers = delete_databases_postgre_sql_instance_with_http_info(api_version, instance_id, opts)
      data
    end

    # Delete a managed PostgreSQL database
    # __This operation is currently only available for customers who already have an active Managed Database.__  Remove a Managed PostgreSQL Database from your Account.  Requires &#x60;read_write&#x60; access to the Database.  The Database must have an &#x60;active&#x60;, &#x60;failed&#x60;, or &#x60;degraded&#x60; status to perform this operation.  Only unrestricted Users can access this operation, and have access regardless of the acting token&#39;s OAuth scopes.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases postgresql-delete 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_databases_postgre_sql_instance_with_http_info(api_version, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.delete_databases_postgre_sql_instance ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.delete_databases_postgre_sql_instance"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.delete_databases_postgre_sql_instance"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/postgresql/instances/{instanceId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.delete_databases_postgre_sql_instance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#delete_databases_postgre_sql_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a managed database engine
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display information for a single Managed Database engine type and version.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases engine-view     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param engine_id [String] The ID of the Managed Database engine.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetDatabasesEngine200Response]
    def get_databases_engine(api_version, engine_id, opts = {})
      data, _status_code, _headers = get_databases_engine_with_http_info(api_version, engine_id, opts)
      data
    end

    # Get a managed database engine
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display information for a single Managed Database engine type and version.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases engine-view     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param engine_id [String] The ID of the Managed Database engine.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetDatabasesEngine200Response, Integer, Hash)>] GetDatabasesEngine200Response data, response status code and response headers
    def get_databases_engine_with_http_info(api_version, engine_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_engine ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_engine"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'engine_id' is set
      if @api_client.config.client_side_validation && engine_id.nil?
        fail ArgumentError, "Missing the required parameter 'engine_id' when calling DatabasesApi.get_databases_engine"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DatabasesApi.get_databases_engine, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_engine, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_engine, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/databases/engines/{engineId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'engineId' + '}', CGI.escape(engine_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesEngine200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_engine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_engine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List managed database engines
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all available Managed Database engine types and versions. Engine IDs are used when creating new Managed Databases.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases engines     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetDatabasesEngines200Response]
    def get_databases_engines(api_version, opts = {})
      data, _status_code, _headers = get_databases_engines_with_http_info(api_version, opts)
      data
    end

    # List managed database engines
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all available Managed Database engine types and versions. Engine IDs are used when creating new Managed Databases.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases engines     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetDatabasesEngines200Response, Integer, Hash)>] GetDatabasesEngines200Response data, response status code and response headers
    def get_databases_engines_with_http_info(api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_engines ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_engines"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DatabasesApi.get_databases_engines, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_engines, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_engines, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/databases/engines'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesEngines200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_engines",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_engines\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List managed databases
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all Managed Databases that are accessible by your User, regardless of engine type.  For more detailed information on a particular Database instance, make a request to its `instance_uri`.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases list     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetDatabasesInstances200Response]
    def get_databases_instances(api_version, opts = {})
      data, _status_code, _headers = get_databases_instances_with_http_info(api_version, opts)
      data
    end

    # List managed databases
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all Managed Databases that are accessible by your User, regardless of engine type.  For more detailed information on a particular Database instance, make a request to its &#x60;instance_uri&#x60;.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases list     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetDatabasesInstances200Response, Integer, Hash)>] GetDatabasesInstances200Response data, response status code and response headers
    def get_databases_instances_with_http_info(api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_instances ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_instances"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DatabasesApi.get_databases_instances, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_instances, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_instances, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/databases/instances'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesInstances200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_instances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_instances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a managed MySQL database
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display information for a single, accessible Managed MySQL Database.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases mysql-view 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [GetDatabasesMysqlInstance200Response]
    def get_databases_mysql_instance(api_version, instance_id, opts = {})
      data, _status_code, _headers = get_databases_mysql_instance_with_http_info(api_version, instance_id, opts)
      data
    end

    # Get a managed MySQL database
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display information for a single, accessible Managed MySQL Database.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases mysql-view 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDatabasesMysqlInstance200Response, Integer, Hash)>] GetDatabasesMysqlInstance200Response data, response status code and response headers
    def get_databases_mysql_instance_with_http_info(api_version, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_mysql_instance ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_mysql_instance"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.get_databases_mysql_instance"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/mysql/instances/{instanceId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesMysqlInstance200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_mysql_instance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_mysql_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a managed MySQL database backup
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display information for a single backup for an accessible Managed MySQL Database.  The Database must not be provisioning to perform this operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases mysql-backup-view 123 456     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param backup_id [Integer] The ID of the Managed MySQL Database backup.
    # @param [Hash] opts the optional parameters
    # @return [GetDatabasesMysqlInstanceBackup200Response]
    def get_databases_mysql_instance_backup(api_version, instance_id, backup_id, opts = {})
      data, _status_code, _headers = get_databases_mysql_instance_backup_with_http_info(api_version, instance_id, backup_id, opts)
      data
    end

    # Get a managed MySQL database backup
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display information for a single backup for an accessible Managed MySQL Database.  The Database must not be provisioning to perform this operation.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases mysql-backup-view 123 456     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param backup_id [Integer] The ID of the Managed MySQL Database backup.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDatabasesMysqlInstanceBackup200Response, Integer, Hash)>] GetDatabasesMysqlInstanceBackup200Response data, response status code and response headers
    def get_databases_mysql_instance_backup_with_http_info(api_version, instance_id, backup_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_mysql_instance_backup ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_mysql_instance_backup"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.get_databases_mysql_instance_backup"
      end
      # verify the required parameter 'backup_id' is set
      if @api_client.config.client_side_validation && backup_id.nil?
        fail ArgumentError, "Missing the required parameter 'backup_id' when calling DatabasesApi.get_databases_mysql_instance_backup"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/mysql/instances/{instanceId}/backups/{backupId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s)).sub('{' + 'backupId' + '}', CGI.escape(backup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesMysqlInstanceBackup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_mysql_instance_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_mysql_instance_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List managed MySQL database backups
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all backups for an accessible Managed MySQL Database.  The Database must not be provisioning to perform this operation.  Database `auto` type backups are created every 24 hours at 0:00 UTC. Each `auto` backup is retained for 7 days.  Database `snapshot` type backups are created by accessing the [Create a managed MySQL database backup snapshot](https://techdocs.akamai.com/linode-api/reference/post-databases-mysql-instance-backup) operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases mysql-backups-list 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetDatabasesMysqlInstanceBackups200Response]
    def get_databases_mysql_instance_backups(api_version, instance_id, opts = {})
      data, _status_code, _headers = get_databases_mysql_instance_backups_with_http_info(api_version, instance_id, opts)
      data
    end

    # List managed MySQL database backups
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all backups for an accessible Managed MySQL Database.  The Database must not be provisioning to perform this operation.  Database &#x60;auto&#x60; type backups are created every 24 hours at 0:00 UTC. Each &#x60;auto&#x60; backup is retained for 7 days.  Database &#x60;snapshot&#x60; type backups are created by accessing the [Create a managed MySQL database backup snapshot](https://techdocs.akamai.com/linode-api/reference/post-databases-mysql-instance-backup) operation.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases mysql-backups-list 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetDatabasesMysqlInstanceBackups200Response, Integer, Hash)>] GetDatabasesMysqlInstanceBackups200Response data, response status code and response headers
    def get_databases_mysql_instance_backups_with_http_info(api_version, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_mysql_instance_backups ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_mysql_instance_backups"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.get_databases_mysql_instance_backups"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DatabasesApi.get_databases_mysql_instance_backups, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_mysql_instance_backups, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_mysql_instance_backups, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/databases/mysql/instances/{instanceId}/backups'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesMysqlInstanceBackups200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_mysql_instance_backups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_mysql_instance_backups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get managed MySQL database credentials
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display the root username and password for an accessible Managed MySQL Database.  The Database must have an `active` status to perform this operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases mysql-creds-view 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [GetDatabasesPostgreSqlInstanceCredentials200Response]
    def get_databases_mysql_instance_credentials(api_version, instance_id, opts = {})
      data, _status_code, _headers = get_databases_mysql_instance_credentials_with_http_info(api_version, instance_id, opts)
      data
    end

    # Get managed MySQL database credentials
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display the root username and password for an accessible Managed MySQL Database.  The Database must have an &#x60;active&#x60; status to perform this operation.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases mysql-creds-view 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDatabasesPostgreSqlInstanceCredentials200Response, Integer, Hash)>] GetDatabasesPostgreSqlInstanceCredentials200Response data, response status code and response headers
    def get_databases_mysql_instance_credentials_with_http_info(api_version, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_mysql_instance_credentials ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_mysql_instance_credentials"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.get_databases_mysql_instance_credentials"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/mysql/instances/{instanceId}/credentials'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesPostgreSqlInstanceCredentials200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_mysql_instance_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_mysql_instance_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a managed MySQL database SSL certificate
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display the SSL CA certificate for an accessible Managed MySQL Database.  The Database must have an `active` status to perform this operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases mysql-ssl-cert 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed MySQL Database.
    # @param [Hash] opts the optional parameters
    # @return [GetDatabasesPostgresqlInstanceSsl200Response]
    def get_databases_mysql_instance_ssl(api_version, instance_id, opts = {})
      data, _status_code, _headers = get_databases_mysql_instance_ssl_with_http_info(api_version, instance_id, opts)
      data
    end

    # Get a managed MySQL database SSL certificate
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display the SSL CA certificate for an accessible Managed MySQL Database.  The Database must have an &#x60;active&#x60; status to perform this operation.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases mysql-ssl-cert 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed MySQL Database.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDatabasesPostgresqlInstanceSsl200Response, Integer, Hash)>] GetDatabasesPostgresqlInstanceSsl200Response data, response status code and response headers
    def get_databases_mysql_instance_ssl_with_http_info(api_version, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_mysql_instance_ssl ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_mysql_instance_ssl"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.get_databases_mysql_instance_ssl"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/mysql/instances/{instanceId}/ssl'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesPostgresqlInstanceSsl200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_mysql_instance_ssl",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_mysql_instance_ssl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List managed MySQL databases
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all accessible Managed MySQL Databases.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases mysql-list     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetDatabasesMysqlInstances200Response]
    def get_databases_mysql_instances(api_version, opts = {})
      data, _status_code, _headers = get_databases_mysql_instances_with_http_info(api_version, opts)
      data
    end

    # List managed MySQL databases
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all accessible Managed MySQL Databases.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases mysql-list     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetDatabasesMysqlInstances200Response, Integer, Hash)>] GetDatabasesMysqlInstances200Response data, response status code and response headers
    def get_databases_mysql_instances_with_http_info(api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_mysql_instances ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_mysql_instances"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DatabasesApi.get_databases_mysql_instances, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_mysql_instances, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_mysql_instances, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/databases/mysql/instances'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesMysqlInstances200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_mysql_instances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_mysql_instances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a managed PostgreSQL database
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display information for a single, accessible Managed PostgreSQL Database.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases postgresql-view 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [GetDatabasesPostgreSqlInstance200Response]
    def get_databases_postgre_sql_instance(api_version, instance_id, opts = {})
      data, _status_code, _headers = get_databases_postgre_sql_instance_with_http_info(api_version, instance_id, opts)
      data
    end

    # Get a managed PostgreSQL database
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display information for a single, accessible Managed PostgreSQL Database.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases postgresql-view 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDatabasesPostgreSqlInstance200Response, Integer, Hash)>] GetDatabasesPostgreSqlInstance200Response data, response status code and response headers
    def get_databases_postgre_sql_instance_with_http_info(api_version, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_postgre_sql_instance ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_postgre_sql_instance"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.get_databases_postgre_sql_instance"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/postgresql/instances/{instanceId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesPostgreSqlInstance200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_postgre_sql_instance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_postgre_sql_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List managed PostgreSQL database backups
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all backups for an accessible Managed PostgreSQL Database.  The Database must not be provisioning to perform this operation.  Database `auto` type backups are created every 24 hours at 0:00 UTC. Each `auto` backup is retained for 7 days.  Database `snapshot` type backups are created by accessing the [Create a managed PostgreSQL database backup snapshot](https://techdocs.akamai.com/linode-api/reference/post-databases-postgre-sql-instance-backup) operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases postgresql-backups-list 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetDatabasesPostgreSqlInstanceBackups200Response]
    def get_databases_postgre_sql_instance_backups(api_version, instance_id, opts = {})
      data, _status_code, _headers = get_databases_postgre_sql_instance_backups_with_http_info(api_version, instance_id, opts)
      data
    end

    # List managed PostgreSQL database backups
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all backups for an accessible Managed PostgreSQL Database.  The Database must not be provisioning to perform this operation.  Database &#x60;auto&#x60; type backups are created every 24 hours at 0:00 UTC. Each &#x60;auto&#x60; backup is retained for 7 days.  Database &#x60;snapshot&#x60; type backups are created by accessing the [Create a managed PostgreSQL database backup snapshot](https://techdocs.akamai.com/linode-api/reference/post-databases-postgre-sql-instance-backup) operation.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases postgresql-backups-list 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetDatabasesPostgreSqlInstanceBackups200Response, Integer, Hash)>] GetDatabasesPostgreSqlInstanceBackups200Response data, response status code and response headers
    def get_databases_postgre_sql_instance_backups_with_http_info(api_version, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_postgre_sql_instance_backups ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_postgre_sql_instance_backups"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.get_databases_postgre_sql_instance_backups"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DatabasesApi.get_databases_postgre_sql_instance_backups, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_postgre_sql_instance_backups, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_postgre_sql_instance_backups, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/databases/postgresql/instances/{instanceId}/backups'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesPostgreSqlInstanceBackups200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_postgre_sql_instance_backups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_postgre_sql_instance_backups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get managed PostgreSQL database credentials
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display the root username and password for an accessible Managed PostgreSQL Database.  The Database must have an `active` status to perform this operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases postgresql-creds-view 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [GetDatabasesPostgreSqlInstanceCredentials200Response]
    def get_databases_postgre_sql_instance_credentials(api_version, instance_id, opts = {})
      data, _status_code, _headers = get_databases_postgre_sql_instance_credentials_with_http_info(api_version, instance_id, opts)
      data
    end

    # Get managed PostgreSQL database credentials
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display the root username and password for an accessible Managed PostgreSQL Database.  The Database must have an &#x60;active&#x60; status to perform this operation.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases postgresql-creds-view 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDatabasesPostgreSqlInstanceCredentials200Response, Integer, Hash)>] GetDatabasesPostgreSqlInstanceCredentials200Response data, response status code and response headers
    def get_databases_postgre_sql_instance_credentials_with_http_info(api_version, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_postgre_sql_instance_credentials ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_postgre_sql_instance_credentials"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.get_databases_postgre_sql_instance_credentials"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/postgresql/instances/{instanceId}/credentials'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesPostgreSqlInstanceCredentials200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_postgre_sql_instance_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_postgre_sql_instance_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List managed PostgreSQL databases
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all accessible Managed PostgreSQL Databases.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases postgresql-list     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetDatabasesPostgreSqlInstances200Response]
    def get_databases_postgre_sql_instances(api_version, opts = {})
      data, _status_code, _headers = get_databases_postgre_sql_instances_with_http_info(api_version, opts)
      data
    end

    # List managed PostgreSQL databases
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display all accessible Managed PostgreSQL Databases.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases postgresql-list     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetDatabasesPostgreSqlInstances200Response, Integer, Hash)>] GetDatabasesPostgreSqlInstances200Response data, response status code and response headers
    def get_databases_postgre_sql_instances_with_http_info(api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_postgre_sql_instances ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_postgre_sql_instances"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DatabasesApi.get_databases_postgre_sql_instances, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_postgre_sql_instances, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DatabasesApi.get_databases_postgre_sql_instances, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/databases/postgresql/instances'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesPostgreSqlInstances200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_postgre_sql_instances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_postgre_sql_instances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a managed PostgreSQL database backup
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display information for a single backup for an accessible Managed PostgreSQL Database.  The Database must not be provisioning to perform this operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases postgresql-backup-view 123 456     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param backup_id [Integer] The ID of the Managed PostgreSQL Database backup.
    # @param [Hash] opts the optional parameters
    # @return [GetDatabasesPostgresqlInstanceBackup200Response]
    def get_databases_postgresql_instance_backup(api_version, instance_id, backup_id, opts = {})
      data, _status_code, _headers = get_databases_postgresql_instance_backup_with_http_info(api_version, instance_id, backup_id, opts)
      data
    end

    # Get a managed PostgreSQL database backup
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display information for a single backup for an accessible Managed PostgreSQL Database.  The Database must not be provisioning to perform this operation.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli databases postgresql-backup-view 123 456     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     databases:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param backup_id [Integer] The ID of the Managed PostgreSQL Database backup.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDatabasesPostgresqlInstanceBackup200Response, Integer, Hash)>] GetDatabasesPostgresqlInstanceBackup200Response data, response status code and response headers
    def get_databases_postgresql_instance_backup_with_http_info(api_version, instance_id, backup_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_databases_postgresql_instance_backup ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DatabasesApi.get_databases_postgresql_instance_backup"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling DatabasesApi.get_databases_postgresql_instance_backup"
      end
      # verify the required parameter 'backup_id' is set
      if @api_client.config.client_side_validation && backup_id.nil?
        fail ArgumentError, "Missing the required parameter 'backup_id' when calling DatabasesApi.get_databases_postgresql_instance_backup"
      end
      # resource path
      local_var_path = '/{apiVersion}/databases/postgresql/instances/{instanceId}/backups/{backupId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s)).sub('{' + 'backupId' + '}', CGI.escape(backup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDatabasesPostgresqlInstanceBackup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_databases_postgresql_instance_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_databases_postgresql_instance_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a managed PostgreSQL database SSL certificate
    # __This operation is currently only available for customers who already have an active Managed Database.__  Display the SSL CA certificate for an accessible Managed PostgreSQL Database.  The Database must have an `active` status to perform this operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli databases postgresql-ssl-cert 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     databases:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param instance_id [Integer] The ID of the Managed PostgreSQL Database.
    # @param [Hash] opts the optional parameters
    # @return [GetDatabasesPostgresqlInstanceSsl200Response]
    def get_databases_postgresql_instance_ssl(api_version, instance_id, opts = {})
      data, _status_code, _headers = get_databases_postgresql_instance_ssl_with_http_info(api_version, instance_id, opts)
      data
    end

[...]
