=begin
#Linode API

#[Read the API documentation](https://techdocs.akamai.com/linode-api/reference/api).

The version of the OpenAPI document: 4.177.1
Contact: support@linode.com
Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module LinodeOpenapiClient
  class LinodeInstancesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a disk
    # Deletes a Disk you have permission to `read_write`.  __Deleting a Disk is a destructive action and cannot be undone.__   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes disk-delete 123 24674     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param disk_id [Integer] ID of the Disk to look up.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_disk(api_version, linode_id, disk_id, opts = {})
      data, _status_code, _headers = delete_disk_with_http_info(api_version, linode_id, disk_id, opts)
      data
    end

    # Delete a disk
    # Deletes a Disk you have permission to &#x60;read_write&#x60;.  __Deleting a Disk is a destructive action and cannot be undone.__   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes disk-delete 123 24674     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param disk_id [Integer] ID of the Disk to look up.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_disk_with_http_info(api_version, linode_id, disk_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.delete_disk ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.delete_disk"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.delete_disk"
      end
      # verify the required parameter 'disk_id' is set
      if @api_client.config.client_side_validation && disk_id.nil?
        fail ArgumentError, "Missing the required parameter 'disk_id' when calling LinodeInstancesApi.delete_disk"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/disks/{diskId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s)).sub('{' + 'diskId' + '}', CGI.escape(disk_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.delete_disk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#delete_disk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a config profile
    # Deletes the specified Configuration profile from the specified Linode.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes config-delete 123 23456     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The &#x60;id&#x60; of the Linode.
    # @param config_id [Integer] The &#x60;id&#x60; of the Configuration Profile.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_linode_config(api_version, linode_id, config_id, opts = {})
      data, _status_code, _headers = delete_linode_config_with_http_info(api_version, linode_id, config_id, opts)
      data
    end

    # Delete a config profile
    # Deletes the specified Configuration profile from the specified Linode.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes config-delete 123 23456     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The &#x60;id&#x60; of the Linode.
    # @param config_id [Integer] The &#x60;id&#x60; of the Configuration Profile.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_linode_config_with_http_info(api_version, linode_id, config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.delete_linode_config ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.delete_linode_config"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.delete_linode_config"
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling LinodeInstancesApi.delete_linode_config"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/configs/{configId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s)).sub('{' + 'configId' + '}', CGI.escape(config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.delete_linode_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#delete_linode_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a configuration profile interface
    # Deletes an Interface from the Configuration Profile.  - The User accessing this operation must have `read_write` grants to the Linode. - A successful request triggers a `linode_config_update` event. - Active Interfaces cannot be deleted. The associated Linode must first be shut down (or restarted using another Configuration Profile) before such Interfaces can be deleted from a Configuration Profile.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes config-delete $linodeId $configId $interfaceId     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The &#x60;id&#x60; of the Linode.
    # @param config_id [Integer] The &#x60;id&#x60; of the Configuration Profile.
    # @param interface_id [Integer] The &#x60;id&#x60; of the Linode Configuration Profile Interface.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_linode_config_interface(api_version, linode_id, config_id, interface_id, opts = {})
      data, _status_code, _headers = delete_linode_config_interface_with_http_info(api_version, linode_id, config_id, interface_id, opts)
      data
    end

    # Delete a configuration profile interface
    # Deletes an Interface from the Configuration Profile.  - The User accessing this operation must have &#x60;read_write&#x60; grants to the Linode. - A successful request triggers a &#x60;linode_config_update&#x60; event. - Active Interfaces cannot be deleted. The associated Linode must first be shut down (or restarted using another Configuration Profile) before such Interfaces can be deleted from a Configuration Profile.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes config-delete $linodeId $configId $interfaceId     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The &#x60;id&#x60; of the Linode.
    # @param config_id [Integer] The &#x60;id&#x60; of the Configuration Profile.
    # @param interface_id [Integer] The &#x60;id&#x60; of the Linode Configuration Profile Interface.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_linode_config_interface_with_http_info(api_version, linode_id, config_id, interface_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.delete_linode_config_interface ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.delete_linode_config_interface"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.delete_linode_config_interface"
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling LinodeInstancesApi.delete_linode_config_interface"
      end
      # verify the required parameter 'interface_id' is set
      if @api_client.config.client_side_validation && interface_id.nil?
        fail ArgumentError, "Missing the required parameter 'interface_id' when calling LinodeInstancesApi.delete_linode_config_interface"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/configs/{configId}/interfaces/{interfaceId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s)).sub('{' + 'configId' + '}', CGI.escape(config_id.to_s)).sub('{' + 'interfaceId' + '}', CGI.escape(interface_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.delete_linode_config_interface",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#delete_linode_config_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Linode
    # Deletes a Linode you have permission to `read_write`.  __Deleting a Linode is a destructive action and cannot be undone.__  Additionally, deleting a Linode:    - Gives up any IP addresses the Linode was assigned.   - Deletes all Disks, Backups, Configs, etc.   - Detaches any Volumes associated with the Linode.   - Stops billing for the Linode and its associated services. You will be billed for time used within the billing period the Linode was active.  Linodes that are in the process of [cloning](https://techdocs.akamai.com/linode-api/reference/post-clone-linode-instance) or [backup restoration](https://techdocs.akamai.com/linode-api/reference/post-restore-backup) cannot be deleted.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes delete 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_linode_instance(api_version, linode_id, opts = {})
      data, _status_code, _headers = delete_linode_instance_with_http_info(api_version, linode_id, opts)
      data
    end

    # Delete a Linode
    # Deletes a Linode you have permission to &#x60;read_write&#x60;.  __Deleting a Linode is a destructive action and cannot be undone.__  Additionally, deleting a Linode:    - Gives up any IP addresses the Linode was assigned.   - Deletes all Disks, Backups, Configs, etc.   - Detaches any Volumes associated with the Linode.   - Stops billing for the Linode and its associated services. You will be billed for time used within the billing period the Linode was active.  Linodes that are in the process of [cloning](https://techdocs.akamai.com/linode-api/reference/post-clone-linode-instance) or [backup restoration](https://techdocs.akamai.com/linode-api/reference/post-restore-backup) cannot be deleted.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes delete 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_linode_instance_with_http_info(api_version, linode_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.delete_linode_instance ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.delete_linode_instance"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.delete_linode_instance"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.delete_linode_instance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#delete_linode_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an IPv4 address
    # Deletes a public or private IPv4 address associated with this Linode. This will fail if it is the Linode's last remaining public IPv4 address, or if the address has a 1:1 NAT with an active VPC Subnet address.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes ip-delete 97.107.143.141     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_write     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The ID of the Linode.
    # @param address [String] The IP address.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_linode_ip(api_version, linode_id, address, opts = {})
      data, _status_code, _headers = delete_linode_ip_with_http_info(api_version, linode_id, address, opts)
      data
    end

    # Delete an IPv4 address
    # Deletes a public or private IPv4 address associated with this Linode. This will fail if it is the Linode&#39;s last remaining public IPv4 address, or if the address has a 1:1 NAT with an active VPC Subnet address.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes ip-delete 97.107.143.141     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_write     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The ID of the Linode.
    # @param address [String] The IP address.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_linode_ip_with_http_info(api_version, linode_id, address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.delete_linode_ip ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.delete_linode_ip"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.delete_linode_ip"
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling LinodeInstancesApi.delete_linode_ip"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/ips/{address}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s)).sub('{' + 'address' + '}', CGI.escape(address.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.delete_linode_ip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#delete_linode_ip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a backup
    # Returns information about a Backup.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes backup-view 123 123456     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The ID of the Linode the Backup belongs to.
    # @param backup_id [Integer] The ID of the Backup to look up.
    # @param [Hash] opts the optional parameters
    # @return [GetBackup200Response]
    def get_backup(api_version, linode_id, backup_id, opts = {})
      data, _status_code, _headers = get_backup_with_http_info(api_version, linode_id, backup_id, opts)
      data
    end

    # Get a backup
    # Returns information about a Backup.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes backup-view 123 123456     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The ID of the Linode the Backup belongs to.
    # @param backup_id [Integer] The ID of the Backup to look up.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBackup200Response, Integer, Hash)>] GetBackup200Response data, response status code and response headers
    def get_backup_with_http_info(api_version, linode_id, backup_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_backup ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_backup"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_backup"
      end
      # verify the required parameter 'backup_id' is set
      if @api_client.config.client_side_validation && backup_id.nil?
        fail ArgumentError, "Missing the required parameter 'backup_id' when calling LinodeInstancesApi.get_backup"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/backups/{backupId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s)).sub('{' + 'backupId' + '}', CGI.escape(backup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBackup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List backups
    # Returns information about this Linode's available backups.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes backups-list 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The ID of the Linode the backups belong to.
    # @param [Hash] opts the optional parameters
    # @return [GetBackups200Response]
    def get_backups(api_version, linode_id, opts = {})
      data, _status_code, _headers = get_backups_with_http_info(api_version, linode_id, opts)
      data
    end

    # List backups
    # Returns information about this Linode&#39;s available backups.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes backups-list 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The ID of the Linode the backups belong to.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBackups200Response, Integer, Hash)>] GetBackups200Response data, response status code and response headers
    def get_backups_with_http_info(api_version, linode_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_backups ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_backups"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_backups"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/backups'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBackups200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_backups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_backups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a kernel
    # Returns information about a single Kernel.   <<LB>>  ---   - __CLI__.      ```     linode-cli kernels view latest-64bit     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param kernel_id [String] ID of the Kernel to look up.
    # @param [Hash] opts the optional parameters
    # @return [GetKernel200Response]
    def get_kernel(api_version, kernel_id, opts = {})
      data, _status_code, _headers = get_kernel_with_http_info(api_version, kernel_id, opts)
      data
    end

    # Get a kernel
    # Returns information about a single Kernel.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli kernels view latest-64bit     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param kernel_id [String] ID of the Kernel to look up.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetKernel200Response, Integer, Hash)>] GetKernel200Response data, response status code and response headers
    def get_kernel_with_http_info(api_version, kernel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_kernel ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_kernel"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'kernel_id' is set
      if @api_client.config.client_side_validation && kernel_id.nil?
        fail ArgumentError, "Missing the required parameter 'kernel_id' when calling LinodeInstancesApi.get_kernel"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/kernels/{kernelId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'kernelId' + '}', CGI.escape(kernel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetKernel200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_kernel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_kernel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List kernels
    # Lists available Kernels.  Due to the extensive list of available kernels, please keep [pagination](https://techdocs.akamai.com/linode-api/reference/pagination) controls in mind when managing responses to this operation.   <<LB>>  ---   - __CLI__.      ```     linode-cli kernels list     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetKernels200Response]
    def get_kernels(api_version, opts = {})
      data, _status_code, _headers = get_kernels_with_http_info(api_version, opts)
      data
    end

    # List kernels
    # Lists available Kernels.  Due to the extensive list of available kernels, please keep [pagination](https://techdocs.akamai.com/linode-api/reference/pagination) controls in mind when managing responses to this operation.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli kernels list     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetKernels200Response, Integer, Hash)>] GetKernels200Response data, response status code and response headers
    def get_kernels_with_http_info(api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_kernels ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_kernels"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LinodeInstancesApi.get_kernels, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LinodeInstancesApi.get_kernels, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LinodeInstancesApi.get_kernels, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/linode/kernels'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetKernels200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_kernels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_kernels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a config profile
    # Returns information about a specific Configuration profile.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes config-view 123 23456     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The &#x60;id&#x60; of the Linode.
    # @param config_id [Integer] The &#x60;id&#x60; of the Configuration Profile.
    # @param [Hash] opts the optional parameters
    # @return [GetLinodeConfig200Response]
    def get_linode_config(api_version, linode_id, config_id, opts = {})
      data, _status_code, _headers = get_linode_config_with_http_info(api_version, linode_id, config_id, opts)
      data
    end

    # Get a config profile
    # Returns information about a specific Configuration profile.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes config-view 123 23456     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The &#x60;id&#x60; of the Linode.
    # @param config_id [Integer] The &#x60;id&#x60; of the Configuration Profile.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLinodeConfig200Response, Integer, Hash)>] GetLinodeConfig200Response data, response status code and response headers
    def get_linode_config_with_http_info(api_version, linode_id, config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_config ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_config"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_linode_config"
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling LinodeInstancesApi.get_linode_config"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/configs/{configId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s)).sub('{' + 'configId' + '}', CGI.escape(config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinodeConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_linode_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_linode_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a configuration profile interface
    # Returns a single Configuration Profile Interface.  - The User accessing this operation must have at least `read_only` grants to the Linode.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes config-interface-view $linodeId $configId $interfaceId     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The &#x60;id&#x60; of the Linode.
    # @param config_id [Integer] The &#x60;id&#x60; of the Configuration Profile.
    # @param interface_id [Integer] The &#x60;id&#x60; of the Linode Configuration Profile Interface.
    # @param [Hash] opts the optional parameters
    # @return [GetLinodeConfigInterface200Response]
    def get_linode_config_interface(api_version, linode_id, config_id, interface_id, opts = {})
      data, _status_code, _headers = get_linode_config_interface_with_http_info(api_version, linode_id, config_id, interface_id, opts)
      data
    end

    # Get a configuration profile interface
    # Returns a single Configuration Profile Interface.  - The User accessing this operation must have at least &#x60;read_only&#x60; grants to the Linode.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes config-interface-view $linodeId $configId $interfaceId     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The &#x60;id&#x60; of the Linode.
    # @param config_id [Integer] The &#x60;id&#x60; of the Configuration Profile.
    # @param interface_id [Integer] The &#x60;id&#x60; of the Linode Configuration Profile Interface.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLinodeConfigInterface200Response, Integer, Hash)>] GetLinodeConfigInterface200Response data, response status code and response headers
    def get_linode_config_interface_with_http_info(api_version, linode_id, config_id, interface_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_config_interface ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_config_interface"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_linode_config_interface"
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling LinodeInstancesApi.get_linode_config_interface"
      end
      # verify the required parameter 'interface_id' is set
      if @api_client.config.client_side_validation && interface_id.nil?
        fail ArgumentError, "Missing the required parameter 'interface_id' when calling LinodeInstancesApi.get_linode_config_interface"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/configs/{configId}/interfaces/{interfaceId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s)).sub('{' + 'configId' + '}', CGI.escape(config_id.to_s)).sub('{' + 'interfaceId' + '}', CGI.escape(interface_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinodeConfigInterface200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_linode_config_interface",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_linode_config_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List configuration profile interfaces
    # Returns an ordered array of all Interfaces associated with this Configuration Profile.  - The User accessing this operation must have at least `read_only` grants to the Linode.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes config-interfaces-list $linodeId $configId     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The &#x60;id&#x60; of the Linode.
    # @param config_id [Integer] The &#x60;id&#x60; of the Configuration Profile.
    # @param [Hash] opts the optional parameters
    # @return [Array<GetLinodeConfigInterfaces200ResponseInner>]
    def get_linode_config_interfaces(api_version, linode_id, config_id, opts = {})
      data, _status_code, _headers = get_linode_config_interfaces_with_http_info(api_version, linode_id, config_id, opts)
      data
    end

    # List configuration profile interfaces
    # Returns an ordered array of all Interfaces associated with this Configuration Profile.  - The User accessing this operation must have at least &#x60;read_only&#x60; grants to the Linode.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes config-interfaces-list $linodeId $configId     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The &#x60;id&#x60; of the Linode.
    # @param config_id [Integer] The &#x60;id&#x60; of the Configuration Profile.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<GetLinodeConfigInterfaces200ResponseInner>, Integer, Hash)>] Array<GetLinodeConfigInterfaces200ResponseInner> data, response status code and response headers
    def get_linode_config_interfaces_with_http_info(api_version, linode_id, config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_config_interfaces ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_config_interfaces"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_linode_config_interfaces"
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling LinodeInstancesApi.get_linode_config_interfaces"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/configs/{configId}/interfaces'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s)).sub('{' + 'configId' + '}', CGI.escape(config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GetLinodeConfigInterfaces200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_linode_config_interfaces",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_linode_config_interfaces\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List config profiles
    # Lists Configuration profiles associated with a Linode.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes configs-list 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up Configuration profiles for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetLinodeConfigs200Response]
    def get_linode_configs(api_version, linode_id, opts = {})
      data, _status_code, _headers = get_linode_configs_with_http_info(api_version, linode_id, opts)
      data
    end

    # List config profiles
    # Lists Configuration profiles associated with a Linode.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes configs-list 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up Configuration profiles for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetLinodeConfigs200Response, Integer, Hash)>] GetLinodeConfigs200Response data, response status code and response headers
    def get_linode_configs_with_http_info(api_version, linode_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_configs ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_configs"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_linode_configs"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LinodeInstancesApi.get_linode_configs, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LinodeInstancesApi.get_linode_configs, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LinodeInstancesApi.get_linode_configs, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/configs'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinodeConfigs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_linode_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_linode_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a disk
    # View Disk information for a Disk associated with this Linode.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes disk-view 123 25674     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param disk_id [Integer] ID of the Disk to look up.
    # @param [Hash] opts the optional parameters
    # @return [GetLinodeDisk200Response]
    def get_linode_disk(api_version, linode_id, disk_id, opts = {})
      data, _status_code, _headers = get_linode_disk_with_http_info(api_version, linode_id, disk_id, opts)
      data
    end

    # Get a disk
    # View Disk information for a Disk associated with this Linode.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes disk-view 123 25674     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param disk_id [Integer] ID of the Disk to look up.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLinodeDisk200Response, Integer, Hash)>] GetLinodeDisk200Response data, response status code and response headers
    def get_linode_disk_with_http_info(api_version, linode_id, disk_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_disk ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_disk"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_linode_disk"
      end
      # verify the required parameter 'disk_id' is set
      if @api_client.config.client_side_validation && disk_id.nil?
        fail ArgumentError, "Missing the required parameter 'disk_id' when calling LinodeInstancesApi.get_linode_disk"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/disks/{diskId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s)).sub('{' + 'diskId' + '}', CGI.escape(disk_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinodeDisk200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_linode_disk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_linode_disk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List disks
    # View Disk information for Disks associated with this Linode.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes disks-list 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetLinodeDisks200Response]
    def get_linode_disks(api_version, linode_id, opts = {})
      data, _status_code, _headers = get_linode_disks_with_http_info(api_version, linode_id, opts)
      data
    end

    # List disks
    # View Disk information for Disks associated with this Linode.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes disks-list 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetLinodeDisks200Response, Integer, Hash)>] GetLinodeDisks200Response data, response status code and response headers
    def get_linode_disks_with_http_info(api_version, linode_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_disks ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_disks"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_linode_disks"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LinodeInstancesApi.get_linode_disks, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LinodeInstancesApi.get_linode_disks, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LinodeInstancesApi.get_linode_disks, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/disks'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinodeDisks200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_linode_disks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_linode_disks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a Linode's firewalls
    # View Firewall information for Firewalls assigned to this Linode.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes firewalls-list 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to access.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetLinodeFirewalls200Response]
    def get_linode_firewalls(api_version, linode_id, opts = {})
      data, _status_code, _headers = get_linode_firewalls_with_http_info(api_version, linode_id, opts)
      data
    end

    # List a Linode&#39;s firewalls
    # View Firewall information for Firewalls assigned to this Linode.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes firewalls-list 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to access.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetLinodeFirewalls200Response, Integer, Hash)>] GetLinodeFirewalls200Response data, response status code and response headers
    def get_linode_firewalls_with_http_info(api_version, linode_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_firewalls ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_firewalls"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_linode_firewalls"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LinodeInstancesApi.get_linode_firewalls, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LinodeInstancesApi.get_linode_firewalls, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LinodeInstancesApi.get_linode_firewalls, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/firewalls'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinodeFirewalls200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_linode_firewalls",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_linode_firewalls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Linode
    # Get a specific Linode by ID.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes view 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param [Hash] opts the optional parameters
    # @return [Linode4]
    def get_linode_instance(api_version, linode_id, opts = {})
      data, _status_code, _headers = get_linode_instance_with_http_info(api_version, linode_id, opts)
      data
    end

    # Get a Linode
    # Get a specific Linode by ID.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes view 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Linode4, Integer, Hash)>] Linode4 data, response status code and response headers
    def get_linode_instance_with_http_info(api_version, linode_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_instance ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_instance"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_linode_instance"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Linode4'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_linode_instance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_linode_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Linodes
    # Returns a paginated list of Linodes you have permission to view.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes list     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [GetLinodeInstancesXFilterParameter] :x_filter Specifies a JSON object to filter down the results. See [Filtering and sorting](filtering-and-sorting) for details.
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [GetLinodeInstances200Response]
    def get_linode_instances(api_version, opts = {})
      data, _status_code, _headers = get_linode_instances_with_http_info(api_version, opts)
      data
    end

    # List Linodes
    # Returns a paginated list of Linodes you have permission to view.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes list     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param [Hash] opts the optional parameters
    # @option opts [GetLinodeInstancesXFilterParameter] :x_filter Specifies a JSON object to filter down the results. See [Filtering and sorting](filtering-and-sorting) for details.
    # @option opts [Integer] :page The page of a collection to return. (default to 1)
    # @option opts [Integer] :page_size The number of items to return per page. (default to 100)
    # @return [Array<(GetLinodeInstances200Response, Integer, Hash)>] GetLinodeInstances200Response data, response status code and response headers
    def get_linode_instances_with_http_info(api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_instances ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_instances"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LinodeInstancesApi.get_linode_instances, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LinodeInstancesApi.get_linode_instances, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LinodeInstancesApi.get_linode_instances, must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/{apiVersion}/linode/instances'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Filter'] = opts[:'x_filter'] if !opts[:'x_filter'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinodeInstances200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_linode_instances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_linode_instances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Linode's IP address
    # View information about the specified IP address associated with the specified Linode.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes ip-view 123 97.107.143.141     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The ID of the Linode.
    # @param address [String] The IP address.
    # @param [Hash] opts the optional parameters
    # @return [GetLinodeIp200Response]
    def get_linode_ip(api_version, linode_id, address, opts = {})
      data, _status_code, _headers = get_linode_ip_with_http_info(api_version, linode_id, address, opts)
      data
    end

    # Get a Linode&#39;s IP address
    # View information about the specified IP address associated with the specified Linode.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes ip-view 123 97.107.143.141     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] The ID of the Linode.
    # @param address [String] The IP address.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLinodeIp200Response, Integer, Hash)>] GetLinodeIp200Response data, response status code and response headers
    def get_linode_ip_with_http_info(api_version, linode_id, address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_ip ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_ip"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_linode_ip"
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling LinodeInstancesApi.get_linode_ip"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/ips/{address}'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s)).sub('{' + 'address' + '}', CGI.escape(address.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinodeIp200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['personalAccessToken', 'oauth']

      new_options = opts.merge(
        :operation => :"LinodeInstancesApi.get_linode_ip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinodeInstancesApi#get_linode_ip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get networking information
    # Returns networking information for a single Linode.  __Note__. If the target Linode has several configuration profiles that include a Virtual Private Cloud (VPC) interface, address information for all of VPCs will be listed in the response.   <<LB>>  ---   - __CLI__.      ```     linode-cli linodes ips-list 123     ```      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      ```     linodes:read_only     ```      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param [Hash] opts the optional parameters
    # @return [GetLinodeIps200Response]
    def get_linode_ips(api_version, linode_id, opts = {})
      data, _status_code, _headers = get_linode_ips_with_http_info(api_version, linode_id, opts)
      data
    end

    # Get networking information
    # Returns networking information for a single Linode.  __Note__. If the target Linode has several configuration profiles that include a Virtual Private Cloud (VPC) interface, address information for all of VPCs will be listed in the response.   &lt;&lt;LB&gt;&gt;  ---   - __CLI__.      &#x60;&#x60;&#x60;     linode-cli linodes ips-list 123     &#x60;&#x60;&#x60;      [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)  - __OAuth scopes__.      &#x60;&#x60;&#x60;     linodes:read_only     &#x60;&#x60;&#x60;      [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
    # @param api_version [String] __Enum__ Call either the &#x60;v4&#x60; URL, or &#x60;v4beta&#x60; for operations still in Beta.
    # @param linode_id [Integer] ID of the Linode to look up.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLinodeIps200Response, Integer, Hash)>] GetLinodeIps200Response data, response status code and response headers
    def get_linode_ips_with_http_info(api_version, linode_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinodeInstancesApi.get_linode_ips ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LinodeInstancesApi.get_linode_ips"
      end
      # verify enum value
      allowable_values = ["v4", "v4beta"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'linode_id' is set
      if @api_client.config.client_side_validation && linode_id.nil?
        fail ArgumentError, "Missing the required parameter 'linode_id' when calling LinodeInstancesApi.get_linode_ips"
      end
      # resource path
      local_var_path = '/{apiVersion}/linode/instances/{linodeId}/ips'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s)).sub('{' + 'linodeId' + '}', CGI.escape(linode_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
[...]
